.header-info .callback {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    -ms-text-align-last: center;
    text-align-last: center;
    margin: 10px 0 -10px;
}

.header-info .callback a {
    display: block;
    font-size: 1.3em;
    text-decoration: none;
    letter-spacing: 1px;
    color: #333333;
    font-family: 'Century Gothic Bold', sans-serif;
    font-weight: 600;
    margin: 0 0 10px;
}

@media (max-width: 980px) {
    .header-info .callback a {
        margin-bottom: 5px;
    }
}
@media (max-width: 480px) {
    .header-info .callback {
        margin: 10px 0 20px;
    }
}