@import url('../general/fonts.css');
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.4;
    color: #333333;
    font-family: 'Century Gothic Regular', sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #ffffff;
}
a {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
header[role='banner'] {
    display: block;
    width: 100%;
    flex: 0 0 auto;
}
.wrapper > .wrapper-inner {
    flex: 1 0 auto;
}
aside {
    display: block;
    width: 21%;
}
.sidebar-before {
    float: left;
    margin-right: 2%;
}
.sidebar-after {
    float: right;
}
.content-block {
    position: relative;
    float: left;
}
.col-2 .content-block {
    width: 77%;
}
.col-3 .content-block {
    width: 54%;
}
section {
    display: block;
    width: 100%;
    padding: 3% 0;
}

footer[role='contentinfo'] {
    display: block;
    width: 100%;
    flex: 0 0 auto;
    background: #f8f8f8;
}

footer[role='contentinfo'] .wrapper-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 1%;
}

.wrapper-inner {
    display: block;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0;
}
.wrapper.content-width-small .wrapper-inner {
    max-width: 980px;
}
.wrapper.content-width-medium .wrapper-inner {
    max-width: 1280px;
}

h1 {
    font-family: 'Century Gothic Bold', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
}
h2 {
    font-family: 'Century Gothic Bold', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    text-align: left;
}
h3 {
    font-family: 'Century Gothic Bold', sans-serif;
    font-size: 1.5em;
}
h4 {
    font-family: 'Century Gothic Bold', sans-serif;
    font-size: 1.3em;
    line-height: 1.2;
}

a, button {
    cursor: pointer;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-appearance: none;
}

a:hover {
    text-decoration: none;
}
a:active, a:focus {
    outline: none;
}

button, button:hover, button:active {
    outline: none;
    border: none;
}
button::-moz-focus-inner {
    outline: none;
    border: none;
}
input:focus, textarea:focus {
    outline: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.image-wrap {
    display: block;
    position: relative;
    overflow: hidden;
}
.image-wrap img {
    width: auto;
    height: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

label {
    display: block;
}
label input {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 15px;
}
input:focus::-webkit-input-placeholder {color: transparent;}
input:focus::-moz-placeholder {color: transparent;}
input:focus:-moz-placeholder {color: transparent;}
input:focus:-ms-input-placeholder {color: transparent;}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.mt-50 {margin-top: 50px;}
.mt-45 {margin-top: 45px;}
.mt-40 {margin-top: 40px;}
.mt-35 {margin-top: 35px;}
.mt-30 {margin-top: 30px;}
.mt-25 {margin-top: 25px;}
.mt-20 {margin-top: 20px;}
.mt-15 {margin-top: 15px;}
.mt-10 {margin-top: 10px;}
.mt-5 {margin-top: 5px;}
.no-margin {margin: 0!important;}
.mb-5 {margin-bottom: 5px;}
.mb-10 {margin-bottom: 10px;}
.mb-15 {margin-bottom: 15px;}
.mb-20 {margin-bottom: 20px;}
.mb-25 {margin-bottom: 25px;}
.mb-30 {margin-bottom: 30px;}
.mb-35 {margin-bottom: 35px;}
.mb-40 {margin-bottom: 40px;}
.mb-45 {margin-bottom: 45px;}
.mb-50 {margin-bottom: 50px;}

.column-left {
    float: left;
}
.column-right {
    float: right;
}

@media (max-width: 1280px) {
    aside {
        padding: 0 10px;
    }
    .col-2 .sidebar-before, .col-2 .sidebar-after, .col-3 .sidebar-before, .col-3 .sidebar-after {
        width: 100%;
        margin: 0;
        max-width: none;
        float: none;
    }
    .wrapper-inner.col-2 .content-block, .wrapper-inner.col-3 .content-block {
        padding: 0 10px;
        width: 100%;
    }
}

@media (max-width: 980px) {
    h3 {
        font-size: 1.2em;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }
    .sidebar-before, .sidebar-after {
        width: 100%;
        margin: 0;
        max-width: none;
        float: none;
    }
    .wrapper-inner .content-block {
        padding: 0 10px;
        width: 100%;
    }
    footer[role='contentinfo'] .wrapper-inner {
        display: block;
        padding: 10px 1%;
    }
    .content-block.left-sidebar, .content-block.right-sidebar  {
        margin-left: 0;
        margin-right: 0;
    }
    section {
        padding: 30px 0;
    }
}

@media (max-width: 480px) {
    section {
        padding: 50px 0;
    }
}


	.editable.hover {border: 1px dotted #dd0000; cursor: pointer;}
	.setable.hover {border: 1px dotted green; cursor: pointer;}
