.text-block-4 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.text-block-4 h2 {
    display: block;
    width: 100%;
	font-family: 'Calibri Italic', sans-serif;
	font-size: 18px;
}
.text-block-4 .texts-list {
    display: flex;
    width: 70%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
}
.text-block-4 blockquote {
    display: block;
    width: 25%;
    margin: 20px 0;
}
.text-block-4 blockquote p {
    color: #888888;
    font-family: 'Calibri Italic', sans-serif;
    font-size: 1.1em;
}
.text-block-4 .text-card {
    width: 48%;
    margin: 20px 0;
}
.text-block-4 .text-info {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #888888;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.text-block-4 .image-wrap {
    width: 80px;
    height: 80px;
}
.text-block-4 h3 {
    display: block;
    width: calc(100% - 100px);
    line-height: 1;
}

.col-3 .content-block .text-block-4 .texts-list,
.col-3 .content-block .text-block-4 blockquote {
    width: 100%;
    margin: 10px 0;
}

.content-width-small .col-3 .content-block .text-block-4 .text-card {
    width: 100%;
}

@media (max-width: 980px) {
    .text-block-4 .text-card {
        width: 100%;
    }
    .text-block-4 .text-info {
        align-items: center;
    }

}
@media (max-width: 768px) {
    .text-block-4 .texts-list, .text-block-4 blockquote {
        width: 100%;
    }
}