.header-nav {
    background: #57B330;
}

nav, nav ul {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 0;
}
nav .fa-bars {
    display: none;
    font-size: 20px;
    color: #ffffff;
    margin: 5px 0;
    cursor: pointer;
}
nav .fa-bars.active {
    color: #000000;
}
.header-nav-left nav ul {
    text-align: left;
}
.header-nav-right nav ul {
    text-align: right;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 5px 10px 7px;
    color: #ffffff;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    text-transform: lowercase;
    border: 2px solid transparent;
}
nav ul li a:hover {
    background: #964B00;
}
nav ul li a:active {
    border: 2px solid #d8a00a
}
@media (max-width: 768px) {
    nav .fa-bars {
        display: inline-block;
    }
    nav ul {
        display: none;
        padding-bottom: 15px;
    }
    nav ul li {
        display: block;
    }
}